<!DOCTYPE html>
<html>
<head>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <%= wicked_pdf_stylesheet_link_tag "invoice" %>
  <style type="text/css">
    /* Your custom CSS styles */
    .invoice-title h2, .invoice-title h3 {
      display: inline-block;
    }
    .table > tbody > tr > .no-line {
      border-top: none;
    }
    .table > thead > tr > .no-line {
      border-bottom: none;
    }
    .table > tbody > tr > .thick-line {
      border-top: 2px solid;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="invoice-title">
          <img src="<%= image_url('logo_with_tagline') %>" width="400" style="margin-left: 25%;">
          <h2 class="pull-right">Payment # <%= payment.id %></h2>
        </div>
        <hr style="margin: 15px 0px;">
        <div class="row" style="font-size: 16px;">
          <div class="col-xs-6">
            <address>
              <strong>Invoiced To:</strong> <%= payment.source.name %><br>
            </address>
          </div>
          <div class="col-xs-6 text-right">
            <address>
              <strong>Date:</strong> <%= @payment.payment_date.strftime("%d %B %Y") %><br>
            </address>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Payment Receipt</strong></h3>
          </div>
          <div>
            <div class="table-responsive">
              <table class="table table-condensed" style="margin-bottom: 10px;font-size:24px;">
                <tbody>
                  <tr>
                    <td class="text-center" style="padding: 10 0;">Total Amount Due</td>
                    <td class="text-center" style="padding: 10 0;"><%= number_with_delimiter payment.previous_balance %></td>
                  </tr>
									<tr>
                    <td class="text-center" style="padding: 10 0;">Amount Received</td>
                    <td class="text-center" style="padding: 10 0;"><%= number_with_delimiter payment.amount %></td>
                  </tr>
									<tr>
                    <td  class="text-center" style="padding: 10 0;">Remaining Amount</td>
                    <td class="text-center" style="padding: 10 0;"><strong><%= number_with_delimiter(payment.previous_balance - payment.amount) %></strong></td>
                  </tr>
                </tbody>
              </table>
              <div class="breadcrumb"><h4 class="text-center" style="font-size: 28px;">Contact: 0323-4000019</h4></div>
              <div style="padding-top: 20px; padding-bottom: 20px; margin-left: 15px;">
                <h4 style="font-size: 28px;">Sign: __________________</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
